.mascot__UFOCat {
  background: url('/Mascots/UFOCat.png');
  --display_size: 200px;
  --y-offset: calc(var(--display_size) / 2);
  position: absolute;
  /* top: 100px; */
  width: var(--display_size);
  height: var(--display_size);
  background-size: 200px 400px;
  animation:
    /* Animation__UFOCat--idle 0.5s infinite, */ Animation__UFOCat--walk
    14s infinite;
}

@keyframes Animation__UFOCat--idle {
  0% {
    background-position: 0px 0px;
  }
  49% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px calc(var(--y-offset) + 100px);
  }
  100% {
    background-position: 0px calc(var(--y-offset) + 100px);
  }
}

@keyframes Animation__UFOCat--walk {
  0% {
    transform: scaleX(1);
    left: 0%;
    top: 10%;
  }
  10% {
    transform: scaleX(1);
    left: 40%;
    top: 16%;
  }
  20% {
    transform: scaleX(1);
    left: 60%;
    top: 16%;
  }
  21% {
    transform: scaleX(-1);
    left: 60%;
    top: 16%;
  }
  30% {
    transform: scaleX(-1);
    left: 40%;
    top: 12%;
  }
  40% {
    transform: scaleX(-1);
    left: 0%;
    top: 10%;
  }
  50% {
    transform: scaleX(-1);
    left: 0%;
    top: 12%;
  }
  60% {
    transform: scaleX(-1);
    left: -20%;
    top: 5%;
  }
  61% {
    transform: scaleX(1);
    left: -20%;
    top: 5%;
  }
  70% {
    transform: scaleX(1);
    left: -15%;
    top: 16%;
  }
  80% {
    transform: scaleX(1);
    left: 15%;
    top: 16%;
  }
  81% {
    transform: scaleX(-1);
    left: 15%;
    top: 16%;
  }
  90% {
    transform: scaleX(-1);
    left: 10%;
    top: 12%;
  }
  99% {
    transform: scaleX(-1);
    left: 0%;
    top: 10%;
  }
  100% {
    transform: scaleX(1);
    left: 0%;
    top: 10%;
  }
}
