@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: hsl(147, 100%, 35%);
  --secondary: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --text-2: hsl(0, 0%, 0%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & font*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
button {
  font-family: 'Poppins', cursive;
  font-weight: 400;
  font-style: normal;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  border: 2px solid blue;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
