@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & font*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
button {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  border: 2px solid blue;
}
