.home {
}

.hero {
  position: relative;
  height: 80vh;
  background-color: var(--main);
  overflow: hidden;
}

#hero__video {
  max-width: 1000%;
  display: inline;
  height: auto;
  width: 100%;
}

.hero__content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 176, 80, 0.3) 0%,
    rgba(0, 176, 80, 1) 60%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mochiy Pop One', cursive;
  color: var(--secondary);
}

.hero__content__brand {
  width: 128px;
}

.hero__content__brand h1 {
  font-size: 24px;
  font-family: inherit;
}

.hero__content__tagline {
  font-size: 20px;
  font-family: inherit;
  text-align: center;
}

.hero__content__search {
  font-family: inherit;
  margin: 1rem;
}

.hero__content__search input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: hsla(0, 0%, 0%, 20%) 0px 4px;
  color: var(--text-2);
}

.hero__content__search input:focus {
  outline: none;
}

.about {
  position: relative;
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-direction: column;
  gap: 8rem;
}

.about__problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.about__problem h1 {
  font-family: 'Mochiy Pop One', cursive;
  color: var(--main);
  font-size: 2rem;
}

.about__problem__highlight {
  color: var(--main);
  font-size: 8rem;
}

.about__solution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.about__solution__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about__solution__brand img {
  width: 6rem;
}

.about__solution__brand h1 {
  font-family: 'Mochiy Pop One', cursive;
  color: var(--main);
  font-size: 3rem;
}

.about__solution p {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  #hero__video {
    margin-left: -25%;
    height: 60%;
    width: auto;
  }

  .about__brand {
    flex-direction: column;
  }
}
