.products {
  display: flex;
  flex-direction: column;
  font-family: 'Mochiy Pop One', cursive;
  padding: 1rem;
}

.products__title {
  text-align: center;
  font-family: inherit;
  color: var(--main);
  font-size: 2rem;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(80vw, 420px), 1fr));
  gap: 2rem;
}
